@font-face {
    font-family: 'acumin-pro-condensed';
    src: url('./assets/fonts/AcuminProCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'acumin-pro-condensed';
    src: url('./assets/fonts/AcuminProCond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'acumin-pro-condensed';
    font-weight: normal;
    background: rgb(255,250,245);
    background: radial-gradient(circle, rgba(255,250,245,1) 30%, rgba(254,239,213,1) 100%);
    overflow: hidden;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
    font-weight: normal;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}

.pink {
    color: rgb(170, 65, 136);
}

.light-pink {
    color: rgb(185, 80, 151);
}

.blink {
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-animation: blink normal 1.5s infinite ease-in-out;
    -webkit-animation: blink normal 1.5s infinite ease-in-out;
    -ms-animation: blink normal 1.5s infinite ease-in-out;
    animation: blink normal 1.5s infinite ease-in-out;
}

.btnsContainer {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    bottom: 15px;
    right: 20px;
    width: fit-content;
    height: 7%;
}

.footerBtn {
    margin-left: 3%;
}

/*-----HOME SECTION-----*/

#homeSection, #homeSectionVideos, #homeSectionGame {
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: top right;
    background-image: url("./assets/img/homeBkg.png");
}

#homeSection h2, #homeSectionVideos h2, #homeSectionGame h2 {
    font-weight: lighter;
    font-size: 3rem;
}

#homeSection p, #homeSectionVideos p, #homeSectionGame p {
    width: fit-content;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-left: 15%;
    margin-top: 16%;
    margin-bottom: 5%;
    font-weight: lighter;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.homeBtn {
    display: flex;
    width: fit-content;
    margin: 0% 15%;
    align-content: center;
}

/*-----REF SECTION-----*/

#refSectionWrapper {
    display: flex;
    background-repeat: no-repeat;
    background-size: auto 17%;
    background-position: top right;
    background-image: url("./assets/img/globalBkg.png");
    align-items: center;
}

#refSection.hidden {
    display: none;
}

#refSection h1 {
    position: absolute;
    top: 10%;
    left: 7%;
}

#refSection p {
    font-size: 0.8rem;
}

.refCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
}

/*-----CP SECTION-----*/

#cpSectionWrapper {
    display: flex;
    background-repeat: no-repeat;
    background-size: auto 17%;
    background-position: top right;
    background-image: url("./assets/img/globalBkg.png");
    align-items: center;
}

#cpSection.hidden {
    display: none;
}

#cpSection h1 {
    position: absolute;
    top: 7%;
    left: 7%;
}

#cpSection p {
    font-size: 0.6rem;
}

.cpCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
}

.revlimid {
    max-width: 80%;
}

.imnovid {
    max-width: 80%;
}

.empliciti {
    max-width: 80%;
}

/*-----MODE SECTION-----*/

#modeSectionWrapper {
    display: flex;
    background-repeat: no-repeat;
    background-size: auto 17%;
    background-position: top right;
    background-image: url("./assets/img/globalBkg.png");
    align-items: center;
}

#modeSection.hidden {
    display: none;
}

#modeBkg {
    position: absolute;
    height: 100%;
}

#pveBtn {
    height: 40%;
    margin-right: 50px;
    margin-left: auto;
    z-index: 1;
}

#pvpBtn {
    height: 40%;
    margin-right: auto;
    margin-left: 50px;
    z-index: 1;
}

/*-----INSTRUCTIONS SECTIONS-----*/

#instructionsPveSection, #instructionsPvpSection {
    background-repeat: no-repeat;
    background-size: auto 17%;
    background-position: top right;
    background-image: url("./assets/img/globalBkg.png");
}

.instructionsBkg {
    position: absolute;
    height: 50%;
}

#instructionsPveSection h1, #instructionsPvpSection h1, #instructionsPveSection p, #instructionsPvpSection p {
    margin-left: 10%;
}

#instructionsPveSection h1, #instructionsPvpSection h1 {
    margin-top: 17%;
    margin-block-end: 0;
}

#instructionsPveSection p, #instructionsPvpSection p {
    font-size: 1.5rem;
}

@media screen and (min-width: 1367px) {
    #instructionsPveSection h1, #instructionsPvpSection h1 {
        margin-top: 11%;
    }
    
    #instructionsPveSection h1, #instructionsPvpSection h1, #instructionsPveSection p, #instructionsPvpSection p {
        margin-left: 8%;
    }
}

/*-----GAME SECTION-----*/

#gameSection {
    background-repeat: no-repeat;
    background-size: auto 17%;
    background-position: top right;
    background-image: url("./assets/img/globalBkg.png");
}

#gameWrapper, #countersContainer, #player1Counter, #player2CounterWrapper {
    display: flex;
}

#gridBlock {
    width: 60%;
    height: 100%;
    margin-left: 6%;
}

#countersContainer {
    margin-top: 3%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#player1Counter, #player2Counter {
    margin: auto;
    text-align: right;
    align-items: center;
}

#player2Counter.hidden {
    display: none;
}

#player1Counter p, #player2Counter p {
    padding-right: 10px;
    font-size: 1.5rem;
    border-right: 2px solid rgba(0, 0, 0, 0.7);
}

#player2Counter p {
    border-right: 2px solid  rgb(170, 65, 136);
}

#player1Counter h2, #player2Counter h2 {
    padding-left: 10px;
    font-size: 4rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

#player2CounterWrapper {
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

.gridCell {
    width: 24.80%;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.gridCell h1 {
    font-size: 9.5rem;
    margin: 0px 17px;
    color: rgba(170, 65, 136, 0.25);
}

#cell0, #cell1, #cell2, #cell3 {
    border-top: 0px;
}

#cell0, #cell4, #cell8, #cell12 {
    border-left: 0px;
}

#cell3, #cell7, #cell11, #cell15 {
    border-right: 0px;
}

#cell12, #cell13, #cell14, #cell15 {
    border-bottom: 0px;
}

.selected h1 {
    color: rgba(170, 65, 136, 1);
}

.player1 {
    background-image: url("./assets/img/cross.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.player2 {
    background-image: url("./assets/img/circle.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.player1 h1, .player2 h1 {
    color: rgba(170, 65, 136, 0);
}

#questionBlock {
    width: 32%;
    margin-top: 15%;
    margin-left: 2%;
}

#questionHeader {
    font-weight: lighter;
    font-size: 1.3rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#question {
    margin-right: 20px;
}

#questionText {
    font-size: 1.6rem;
}

.questionOptContainer {
    display: flex;
    margin: 5%;
    align-content: center;
    align-items: center;
}

.questionOptContainer p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.questionOptContainer h2 {
    padding-right: 10px;
    margin-right: 10px;
    font-size: 3rem;
    border-right: 2px solid black;
    margin-top: 0;
    margin-bottom: 0;
}

.questionOpt {
    font-size: 1.5rem;
}

.questionAcron {
    font-size: 1.5rem;
}

.questionRef {
    font-size: 1.2rem;
}

#pveEndPanelWrapper {
    display: flex;
    flex-direction: column;
    height: 86%;
    margin-top: 14vh;
    text-align: center;
    background-image: url("./assets/img/pveEndPanelBkg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95vw 70vh;
}

#pveEndPanelWrapper h1 {
    margin-top: 17%;
}

#pvpEndPanelWrapper {
    display: flex;
    height: 86%;
    margin-top: 14vh;
    background-image: url("./assets/img/pvpEndPanelBkg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95vw 55vw;
}

#pvpEndPanelContainer {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 7%;
}

#pvpEndPanel h1 {
    margin: 20px;
}

#pvpEndPanel h2 {
    font-size: 3.5rem;
}

#pvpEndPlayer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    text-align: center;
}

#pvpEndPlayer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    text-align: center;
}

#pvpEndPlayer1Icon, #pvpEndPlayer2Icon {
    display: flex;
    align-items: center;
}

#correctPopupWrapper, #wrongPopupWrapper, #exitPopupWrapper {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* background-image: url("./assets/img/popupBkg.png"); */
    background-position: center;
    z-index: 1;
}

#correctPopup.hidden, #wrongPopup.hidden, #exitPopup.hidden {
    display: none;
}

.popupContainer {
    padding: 2%;
    margin: 10%;
    background-image: url("./assets/img/popupBkg.png");
    background-size: cover;
}

.popup h1 {
    margin: 0;
}

.questionCom {
    font-weight: lighter;
    font-size: 3rem;
}

.closePopupBtn {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    font-size: 3.5rem;
}

/*-----GLOBAL-----*/

.vevaCode {
    position: absolute;
    top: 15px;
    left: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
}

#logo {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

@media only screen and (min-device-width: 1367px) {

    #homeSection p, #homeSectionVideos p, #homeSectionGame p {
        margin-top: 10%;
    }

    #modeBkg {
        margin-left: 20%;
    }

    #gridBlock {
        width: 41%;
        margin: auto;
    }

    .gridCell h1 {
        font-size: 9.6rem;
    }

    #questionBlock {
        margin-top: 9%;
    }

    #pveEndPanelWrapper {
        background-size: 70vw 70vh;
    }

    #pvpEndPanelWrapper {
        background-size: 70vw 70vh;
    }

    #pveEndPanelWrapper h1 {
        margin-top: 14%;
    }

    #rcpContainer iframe {
        width: 47.4% !important;
        padding: 0 26.3vw !important;
    }
}